*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(199, 192, 192);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: 11.7rem;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(158, 34, 34);
    font-family: monospace;

}